# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.whl

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/
.notebooks_cache/

# Data & outputs
data/*
!data/.gitkeep
reports/*
!reports/figures/
reports/figures/*
!reports/figures/.gitkeep

# IDE
.vscode/
.idea/
